<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RedSense</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/output.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/static/js/script.js"></script>
    <link rel="stylesheet" href="/static/css/custom.css">
    <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">
    {% block head %}{% endblock %}
</head>
<body class="m-0 font-bold">
    {% block body %}{% endblock %}
</body>
</html>